/*global margin left*/
body {
	margin-left: 25%;
}

/*title*/
h1 {
	font-family: 'Dosis', cursiva;
}

/*séparateur*/
hr {
	width: 415px;
	height: 1px; 
	margin-left: 0; 
	background:#F76800;
}

/*image map*/
#container{
	display: inline-block;
	margin-top: 30px;
}

/*district name*/
a {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
	font-size: 1.2em;
}

/*paragraphe district*/
p {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
}

/*image mapping*/
.map {
	display: inline;
}

/*district name float*/
.righbanner {
	float: right;
	font-size: 15px;
	display: inline-block;
	margin-right: 30%;
}

@media screen and (max-width: 768px) {
	/*global margin left*/
body {
	margin: 0 auto;
}

/*title + hr */
header {
	margin-left: 7%;
}

/*title*/
h1 {
	font-family: 'Dosis', cursiva;
}

/*séparateur*/
HR {
	width: 80%;
}

/*image map*/
#container{
	display: inline-block;
	margin-top: 30px;
}

/*img src*/
img {
	margin-left: 2%;
	width: 80%;
}

/*district name*/
a {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
	font-size: 1.2em;
}

/*paragraphe district*/
p {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
	display: inline-block;
}

/*image mapping*/
.map {
	display: inline;
}

/*district name float*/
.righbanner {
	float: right;
	font-size: 15px;
	display: inline-block;
	margin-left: 15%;
	text-align: center;
}
}