/*global margin left*/
body {
	margin-left: 25%;
}

/*title*/
h1 {
	font-family: 'Dosis', cursiva;
}

/*séparateur*/
hr {
	width: 415px;
	height: 1px; 
	margin-left: 0; 
	background:#F76800;
}

/*image map*/
#container{
	display: inline-block;
	margin-top: 30px;
}

/*district name*/
a {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
	font-size: 1.2em;
}

/*paragraphe district*/
p {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
}

/*image mapping*/
.map {
	display: inline;
}

/*district name float*/
.righbanner {
	float: right;
	font-size: 15px;
	display: inline-block;
	margin-right: 30%;
}