body {
	margin-left: 5%;
}

h1 {
	font-family: 'Dosis', cursiva;
}

HR {
	width: 80%;
}

#container{
	display: inline-block;
	margin-top: 30px;
}

img {
	width: 65%;
}

a {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
	font-size: 1.2em;
}

p {
	margin: 0 auto;
	font-family: 'Dosis', cursiva;
	color: #D85600;
	display: inline-block;
}

.map {
	display: inline;
}

.righbanner {
	float: right;
	font-size: 15px;
	display: inline-block;
	margin-right: 30%;
}